.hero {
    width: 100%;
    height: 600px;
    background-image: url("https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero__overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
}

.hero__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: #fff;
    animation: MotionBlur 1s ease-in;
}
.hero__title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero__desc {
    font-size: 30px;
    margin-bottom: 20px;
}

.hero__actions {
    display: flex;
    gap: 30px;
}

.hero__btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.hero__btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    transition: all 0.2s ease;
}

.hero__btn--primary {
    background: rgba(228, 0, 0, 0.618);
    color: #fff;
}

.hero__btn--secondary {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}
@media (max-width: 500px){
    .hero{
        height: 400px;
    }
    .hero__content{
        max-width: 70%;
    }
    .hero__desc{
        font-size: 14px;
    }
    .hero__title{
        font-size: 25px;
    }
    .hero__btn{
        font-size: 13px;
        white-space: nowrap;
    }
    .hero__content{
        margin-left: 10px;
    }
}
@keyframes MotionBlur{
    0%{
        transform: translateY(-60%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}